
/*faz aplicação global de CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*variaveis que podem ser usadas para todo documento/ ativo somente no modo dark*/
:root{
    --bg-url:url(../img/backgroud.dark.png)
}

body{
    background: var(--bg-url) no-repeat top center / cover;
    height :100vh
}