@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@200..800&family=Quicksand:wght@300..700&display=swap');

body {
  background: #295578 ;
  /* background: url(../img/fundo1.jpg) no-repeat top/cover; */
  color: #2d9596;
  margin: 0;
  padding: 0;
  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.ojuju-<uniquifier> {
  font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}
a {
  text-decoration: none;
  color: #9ad0c2;
}
.textocentro {
  text-align: center;
}
h1.textocentro{
    margin-top: 0;
    padding: 10px;

}

h1 a {
    background: #2D9596;
 border-radius: 30px 2px;
 padding: 5px;
 box-shadow: 4px 4px 4px #265073;
}

h1 a:hover{
    background: #265073;
}


.fundolink{
    background: #58A399;
}
